$primaryred: #932725;
$background: #e2e1df;
$primaryblue: #222e47;
$footer: #353330;
$blackfont: #000000;
$backgroundwhite: #FFFFFF;
$hover: #3d4049;

$fontbase: 'Inter', sans-serif;
$fontspecial: 'Inter', sans-serif;


$spacer:10px;