@use 'base';

.zahlavi-galerie{
    background-attachment: fixed;
    background-color: base.$footer;
    color: base.$backgroundwhite;
    text-align: center;
}

.aktuality
{
    max-width: 1200px;
    margin-left: auto; 
	margin-right: auto;
    padding: 30px;
}

.gallery2{
    background-color: base.$background;
    margin-left: auto; 
	margin-right: auto;   
    padding: 20px;
    border-radius: 20px;
    max-width: 1200px;
}

.name-text2{
    max-width: 1200px;
    margin-left: auto; 
	margin-right: auto;   
    padding: 20px;
}

.container-gallery2{
    margin: 20px;

}

.container-gallery2 img{
    width: 100%;
}

