
@use 'base';


.zahlavi-registrace{
    background-attachment: fixed;
    background-color: base.$footer;
    color: base.$backgroundwhite;
    text-align: center;
}

.aktuality
{
    max-width: 1200px;
    margin-left: auto; 
	margin-right: auto;
    padding: 30px;
}
