<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/scss/style.css">    
    <meta name="viewport"  content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">  
    <title></title>
</head>
<body>

    <header>    
        <div class="navbar">
            <div class="container">
                <a class="logo" href="/index.html"><img src="/images/logo3.png"></a>

                <ul class="primary-nav">
                    <li class="current"><a href="/index.html">Home</a></li>
                    <li><a href="/aktuality/">Aktuality</a></li>
                    <li><a href="/program/">Program</a></li>
                    <li><a href="/galerie/">Galerie</a></li>
                    <li><a href="/kontakt/">Kontakt</a></li>                
                </ul>

                <ul class="second-nav">              
                    <li class="cta"><a href="/registrace.html">Registrace obchodníků</a></li>
                </ul>

            </div>
        </div>
    </header>

    <main>


        {{ content | safe }}


    </main>

    <footer> 
        <div class="footer-container">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error necessitatibus praesentium nisi dolore et, nostrum eveniet expedita consectetur repudiandae ut modi delectus consequuntur nesciunt fugiat veritatis quidem impedit molestias illo?</p>
        </div>   
        <hr>     
        <p class="copy"> ©2022 Eduard. Při tvorbě bylo použito hodně ☕ a ❤️. Vytvořeno během kurzu Staň se kóderkou. </p> 
    </footer>
</body>
</html>